ALLOWED_PIXEL_DENSITY={PIXEL_DENSITY} # e.g. 1,2,3
ALLOWED_RESOLUTIONS={RESOLUTIONS} # e.g. 200x200,300x150,50x50
BUCKET={S3_BUCKET_NAME}
URL={BASE_URL} # e.g. https://foo.cloudfront.net
QUALITY={QUALITY} # number 0-100
